.autocomplete-suggestions {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; 
     box-sizing: border-box; 
     border: 1px solid #999; 
     background: #1e1d1d; 
     color: #495057;
     cursor: default; 
     overflow: auto; 
     -webkit-box-shadow: 
     1px 4px 3px rgba(50, 50, 50, 0.1); 
     -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.1); 
     box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.1); 
    }
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: show; }
.autocomplete-no-suggestion { 
    padding: 2px 5px;
}
.autocomplete-selected { 
    background: #0d6efd; 
}
.autocomplete-suggestions strong { 
    font-weight: bold; 
    color: #999; 
}
.autocomplete-group { 
    padding: 2px 5px; 
    font-weight: bold; 
    font-size: 16px; 
    color: #000; 
    display: block; 
    border-bottom: 1px solid #000; }

/* input { font-size: 20px; width:400px; padding: 5px; border: 1px solid #CCC; display: block; margin: 20px 0; } */
